pandas == 1.0.3
streamlit ==  0.65.2
xlrd == 1.2.0
numpy == 1.18.1
requests == 2.22.0
mechanize == 0.4.5
beautifulsoup4 == 4.8.2
validators == 0.15.0
tensorflow == 2.0.3
tensorflow-hub == 0.9.0
sentencepiece == 0.1.91
